@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body{
    background-color: var(--bs-black);
    color: var(--bs-white);
}



/* Tipografia */

.display-1 {
    font-weight: 800;
}

.display-2 {
    font-weight: 600;
}


.big {
    font-weight: 500;
    font-size: clamp(0.6em, 0.65em + 2vw, 1.5em);
}



.sticky-top{
    top: -120px;
    transition-property: top;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out;
}

.afterscroll { 
    top: 0px;
}

.afterscroll .navbar{
    padding-top:0.1rem;
    padding-bottom:0.1rem;
}

.afterscroll .navbar-brand > img{
    width: 180px;
}
    


/* Pré-header */
#pre-header{
    background-color: var(--bs-gray-900);
}

#pre-header div{
    z-index: 2;
    position: relative;
}

#pre-header ul li.nav-item a,
#pre-header ul li.social a i {
    transition: 0.2s ease-in-out;
}

#pre-header ul li.nav-item a:hover {
    opacity: 0.8;
}

#pre-header ul li.social a:hover i {
    color: var(--bs-primary-500);
}

#pre-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 40px;
    background-image: url(../assets/pre-header/setas.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

@media (width < 1440px){
    #pre-header::before{
        width: 45%;
    }
}

@media (width < 1198.50px){
    #pre-header::before{
        width: 55%;
    }
}

@media (width < 991px){
    #pre-header::before{
        width: 65%;
    }
}

@media (width <= 768px){
    #pre-header::before{
        width: 100%;
    }
}



/* Home */
#Home{
    position: relative;
    background-image:  url(/assets/img/hero/hero-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#Home::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -1px;
    background: var(--bs-white);
    -webkit-clip-path: polygon(0 0, 0 10%, 100% 0);
    clip-path: polygon(0 0, 0 10%, 100% 0);
    z-index: 1;
}

#Home::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    background: var(--bs-black);
    -webkit-clip-path: polygon(100% 80%, -70px 100%, 100% 100%);
    clip-path: polygon(100% 80%, -70px 100%, 100% 100%);
    z-index: 1;
}

/* Serviços */
#Servicos{
    position: relative;
}

#Servicos::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;
    background: var(--bs-primary-700);
    -webkit-clip-path: polygon(100% 80%, -70px 100%, 100% 100%);
    clip-path: polygon(100% 90%, -70px 100%, 100% 100%);
    z-index: -1;
}

.service-num{
    font-size: 264px;
    font-weight: 900;
    color: var(--bs-black);
    text-shadow: -1px 0 #b3b3b3, 0 1px #b3b3b3, 1px 0 #b3b3b3, 0 -1px #b3b3b3;
    line-height: 100%;
    height: 165px;
    overflow: hidden;
    margin-bottom: -3px;
}

.service-num:nth-child(1){
    animation: showNumber 1ms ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 55%;
}



/* Sobre */
#Sobre {
    padding: 70px 0;
    background-color: var(--bs-primary-700);
    position: relative;
}

#Sobre .content{
    position: relative;
    z-index: 2;
}

#Sobre .width-600{
    max-width: 600px;
    text-align: left;
}

#Sobre::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--bs-primary-900);
    -webkit-clip-path: polygon(100% 30%, -30% 100%, 100% 100%);
    clip-path: polygon(100% 30%, -30% 100%, 100% 100%);
    z-index: 1;
}

/* Sobre - Fundadores */
#Sobre .fundadores{
    padding: 70px 0;
    z-index: 2;
    position: relative;
}



/* Cases */
#Cases{
    background-color: var(--bs-white);
    color: var(--bs-black);
}



/* Contato */
#Contato {
    padding-bottom: 5rem;
    background-color: var(--bs-primary-700);
    position: relative;
}

#Contato::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;
    background: var(--bs-gray-900);
    -webkit-clip-path: polygon(100% 90%, -70px 100%, 100% 100%);
    clip-path: polygon(100% 90%, -70px 100%, 100% 100%);
    z-index: 1;
}

#Contato::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -3px;
    background: var(--bs-black);
    -webkit-clip-path: polygon(0% 90%, -70px 100%, 100% 100%);
    clip-path: polygon(0% 90%, -70px 100%, 100% 100%);
    z-index: 2;
}



/* Footer */
footer {
    padding: 40px 0;
}

footer .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .content span{
    position: relative;
    padding: 60px 0;
}

footer .content span::after{
    content: "";
    width: 3px;
    height: 55px;
    background-color: var(--bs-primary-700);
    position: absolute;
    top: 0;
    left: 50%;
}

footer .content span::before{
    content: "";
    width: 3px;
    height: 55px;
    background-color: var(--bs-primary-700);
    position: absolute;
    bottom: 0;
    left: 50%;
}

footer .content a{
    color: var(--bs-white);
    text-decoration: none;
    font-size: clamp(0.5em, 0.7em + 3vw, 1.9em);
    font-weight: bold;
}

footer .content ul{
    display: flex;
    gap: 30px;
    border-top: 3px solid var(--bs-primary-700);
    list-style: none;
    padding: 0;
    padding-top: 15px;
}

footer .content ul li a i{
    font-size: 35px;
    color: var(--bs-primary-700);
    transition: 0.3s ease-in-out;
}

footer .content ul li a:hover i{
    opacity: 0.7;
}



/* Animações */

@keyframes showNumber{
    from{
        line-height: 200%;
        opacity: 0;
    }
    to{ 
        line-height: 100%;
        opacity: 1;
    }
}